In [1]:
a=10
b=20
print(a>b)
print(a>b and b>a)
print(a>b or b>a)

False
False
True

In [2]:
print("Good morning")
a = input("What is your name")
print("good morning your name is : " , a)
print(a<"10")

Good morning
What is your namePriyanka
good morning your name is :  Priyanka
False

# if-else

In [3]:
a=21
b=13
if(a==b):
    print("true")
else:
    print("False")

False

# For Loop

In [4]:
import sys
for i in range(1,11):
    for j in range(1,11):
        k=i*j
        print(k, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

# List , Tupple , Dictionary

In [5]:
a=input("enter ur name")
li=[]
li.append(a)
b=input("enter ur mobile no")
li.append(b)
c=input("age")
li.append(c)
print(li)

enter ur namePriyanka
enter ur mobile no3345555666
age23
['Priyanka', '3345555666', '23']

In [6]:
student=('priyanka',19,100,45678)

print(student[2])

for i in student:
    print(i)

for i in range(0,len(student)):
    print(student[i])

100
priyanka
19
100
45678
priyanka
19
100
45678

In [7]:
student={"name":"priyanka","age":19,"marks":100,"mobile":2345}
print(student)


for key,value in student.items():
    print(key,value)

print(student['name'])


student.pop("name")

print(student)


for i in range(0,11):
    if(i%2==0):
        print(i)


for i in range(2,12,3):
    print(i)


for i in range(0,4):
    if(i%2==0):
        print(i)
        print(i+11)


for i in range(0,6):
    if(i%3==0):
        print(i)
    elif(i%3==1):
        print(i+10)
    else:
        print(i-10)


for i in range(1,11):
    i=i*5
    print(i)

fact=1
num=4
for i in range(1,num):
    fact = fact * i
print(fact)

{'name': 'priyanka', 'age': 19, 'marks': 100, 'mobile': 2345}
name priyanka
age 19
marks 100
mobile 2345
priyanka
{'age': 19, 'marks': 100, 'mobile': 2345}
0
2
4
6
8
10
2
5
8
11
0
11
2
13
0
11
-8
3
14
-5
5
10
15
20
25
30
35
40
45
50
6

In [8]:
student=["priyanka",2,3,4]
for i in range(0,len(student)):
    print(student[i])

student[3] = 8384003898

print(student)

student.append("gurugram")

print(student)

student.pop(3)


print(student)

student.remove(2)

print(student)

friend=["parth","niya","miya"]

student.append(friend)

print(student)

print(student)
print(friend)

student.append("ro")

for x,y in zip(student,friend):
    print(x,",",y)

x=[10,20,30]
y=x
x[1]=42
print(y)

priyanka
2
3
4
['priyanka', 2, 3, 8384003898]
['priyanka', 2, 3, 8384003898, 'gurugram']
['priyanka', 2, 3, 'gurugram']
['priyanka', 3, 'gurugram']
['priyanka', 3, 'gurugram', ['parth', 'niya', 'miya']]
['priyanka', 3, 'gurugram', ['parth', 'niya', 'miya']]
['parth', 'niya', 'miya']
priyanka , parth
3 , niya
gurugram , miya
[10, 42, 30]

In [9]:
d={1:'2','age':45}
print(d['age'])
hi={'ki':[1,2,3,{'john':['oh','man','valid',{'ecraft':[1,2,3,'helo']}]}]}
print(hi['ki'][3]['john'][3]['ecraft'][3])
a={'sp500':{'today':300,'yesterday':250},'info':['time',[24,7,365]]}
print(a['info'][1][2])

45
helo
365

In [10]:
def printinfo(name,age):
    print("Name: ",name)
    print("Age:",age)
    return
printinfo(age=50, name="hari")


def fib(n):
    result=[]
    a,b = 0,1
    while b<n:
        result.append(b)
        a,b=b,a+b
    return result
if(__name__ == "__main__"):
    f=fib(100)
    print(f)

Name:  hari
Age: 50
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Calculator

In [11]:
a=int(input("Enter first number"))
b=int(input("Enter secong number"))
c=input("Enter operation")
if(c=="+"):
    d=a+b
    print(d)
elif(c=="-"):
    print(a-b)
elif(c=="*"):
    print(a*b)
elif(c=="/"):
    print(a/b)

Enter first number1
Enter secong number2
Enter operation+
3